  <div class="content">
  <h1>Burgers</h1>
  {{#each burgers}}
  	<div class="burger">
      {{this.id}}. 
      {{#if devoured}}
      <span style="text-decoration: line-through">{{this.burger_name}}</span>
      {{else}}
      {{this.burger_name}}
      <br><button class="eat" data-id="{{this.id}}">Devour</button>
      {{/if}}
  	</div>
    <br>
  {{/each}}
</div>


<form class="add-burger">
  <h2>Add a burger</h2>
  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="burger_name">
  </div>
  <button class="submit" type="submit">Add burger</button>
</form>